.location {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 4% 0;

    .title {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .location-content {
        width: 100%;
        display: flex;

        .location-content__item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .wrapper-img {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                }

                .img-info {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 95%;
                    height: 65px;
                    background-color: #12091D;
                    border-top-right-radius: 32.5px;

                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        color: #DFA866;
                    }

                    .subtitle {
                        font-size: 14px;
                        font-weight: 600;
                        color: #fff;
                    }
                }
            }

            .location-btn {
                max-width: 190px;
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                border-radius: 20px;
                color: #fff;
                text-decoration: none;
            }

            .location-btn:hover {
                border: 1px solid #DFA866;
                background-color: #DFA866;
            }
        }

        .location-content__item:first-child {
            margin-right: 40px;
        }
    }
}