.main {
    .about {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 4% 0;

        .title {
            font-size: 35px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }

        .about-wrapper-img {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .about-text {
            display: flex;
            gap: 40px;
            .text {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
            }
        }

        .about-btn {
            width: 159px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #DFA866;
            color: #000;
            border-radius: 20px;
            outline: none;
        }

        .about-btn:hover {
            background-color: #fff;
        }
    }
}