@import url("../../../styles/fonts.css");
@import url("../../../styles/header.css");
@import url("../../../styles/footer.css");

body {
  font-family: "Martel Sans", sans-serif;
  background-color: #12091D;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.main {
    flex: 1;
    color: #fff;

    .main-map {
        margin-top: 100px;
        
        .map-item {
            color: #fff;
            margin-bottom: 10px;

            .map-link {
                color: #fff;
            }
            .map-link:hover {
                color: #DFA866;
                border-bottom: 1px solid #DFA866;
            }
        }
    }
}