@import url("./fonts.css");

.header {
    position: relative;
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
        .nav__links {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 600;

            .nav__item {
                .nav__link {
                    color: #fff;
                }

                .nav__link:hover {
                    color: #DFA866;
                    text-decoration: underline;
                    text-underline-offset: 6px;
                }
            }
        }
    }

    .log-in {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 600;

        .icon {
            width: 25px;
            height: 25px;
            border: 1px solid #DFA866;
            border-radius: 50%;

            .icon__wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                height: 100%;
            }
        }

        .icon:hover {
            border: 1px solid #fff;
        }

        .log-in__btn {
            width: 86px;
            height: 25px;
            background-color: #DFA866;
            color: #000;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .log-in__btn:hover {
            background-color: #fff;
        }
    }
}

.menu {
    display: none;
}

@media (max-width: 1023px) {

    .menu {
        font-family: "Martel Sans", sans-serif;
        font-weight: 700;
        display: block;
    }

    .header .nav {
        display: none;
    }

    .header .log-in {
        display: none;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: relative;
        z-index: 2;
        cursor: pointer;
        display: block;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #fff;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #fff;
        transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom 0.3s 0.15s, transform 0.3s;
    }

    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    }

    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom 0.3s, transform 0.3s 0.15s;
    }

    .menu-list {
        position: absolute;
        top: 0;
        right: 175px;
        height: 100vh;
        width: 250px;
        background: #DFA866;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: #12091D;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }

    .menu-item:hover {
        color: #fff;
        text-decoration: underline;
    }

    .burger-checkbox:checked ~ .menu-list {
        display: flex;
    }

}
