@import url("fonts.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");


body {
  font-family: "Martel Sans", sans-serif;
  background-color: #12091D;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
    width: 85%;
    height: 100%;
}

a {
    text-decoration: none;
}
